* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pics{
	height: 200PX;
	width: 300px;
    margin-top: 150px;
    margin-left: 200px;
    object-fit: cover;
    cursor: pointer;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;



 }
 .footer {
   position: fixed;
   height: 50px;
   text-align: center;
   top: 180%;
   width: 100%;
  font-family:  "Source Sans Pro", sans-serif ;
	position: absolute;
	padding-top: 2rem;
    padding-bottom: 2rem;
	 letter-spacing: 1px;
	 background-color: black;
	 opacity: 0.6;
   
   font-size: 16px;
   display: inline-block;
   color: white;
   

}
 
 .pics:hover {


 }
 nav{
 	background-color: #f8f8ff;
 	height: 20px;
 	text-align: right;
 }
 
 
body{
	height: 100%
	margin-bottom:100px;
    background-color: ghostwhite;
    

}
h1{
	text-align:  center;
	font-family:  "Source Sans Pro", sans-serif ;
	letter-spacing: 10px;
	word-spacing: -10.5px;
	text-align:center;

	
}
.navimg{
	height: 20px;
	width: 20px;
	
	
	margin-left: 5px;
	margin-right: 20px;
}
h4{
	text-align:  center;
	font-family:  "Source Sans Pro", sans-serif ;
	letter-spacing: 5px;
	word-spacing: -10.5px;
	font-size: 1.5vw;

}
h6{
	font-family:  "Source Sans Pro", sans-serif ;
	position: absolute;
	
	 font-size: 15px; 
	 top: 20px;
	 color: black;
	 margin-left:1130px;
     letter-spacing: 1px;
}
button{
    text-align:  center;
	font-family:  "Source Sans Pro", sans-serif ;
	letter-spacing: 5px;
	word-spacing: -10.5px;
	font-size: 20px;
	background-color: transparent;
    position: absolute;
    cursor: pointer;
	padding: 10PX;
 color: white;    

 
}
button:hover{
	background: rgba(0,0,0,0.8);;
	width: auto;


}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full	  height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.loginbtn{
    background-color: #4CAF50;
  width: auto;
  padding: 10px 25px;
  margin-top: 10pt
  

}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;

}
.h4mark{
	background-color: skyblue;
	color: white;
	padding: 10px; 
	text-shadow: 3px 3px black;
	word-spacing: 3px;
	opacity: 0.85;
}
h5{
	text-align: left;
	font-family:   "Source Sans Pro", sans-serif ;
	font color: black;
	position: absolute;
	margin-left: 75px;
	font-weight: bolder;
	 font-size: 15px; 
	 top: 6px;
	 
	 color: black;
}
.marquee{
position: absolute;
margin-top: 590px; 
font-family: "Source Sans Pro", sans-serif; 
font-weight: bold;
border-style: outset;

}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}



.container {
  padding: 36px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
label{
	font-family: "Source Sans Pro", sans-serif;
	color: blue;
}
/*...........profilestyle.....*/  
.h1
{
text-align:center;
padding:10px;
text-indent:10px;
font-family:  "Source Sans Pro", sans-serif ;
letter-spacing: 0px;
font-size:20px;
color:blue;
}
.nav{
    margin-top:10px;
    margin-right:10px;
}
.div
{
border:double;
align-content:center;
margin-left:200px;
margin-right:50px;
margin-top:20px;
height:650px;
width:900px;
background-color:#f0f0f7;

}
p.marquee {
    position: absolute;
    margin-top:auto;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    border-style:dotted;
}
.para
{
 font-family: "Source Sans Pro", sans-serif;
   font-size:20px;
   color:#5c5c89;
   margin-left:150px;
}
 /*...........coursestyle.....*/  

.p
{
    font-family: "Source Sans Pro", sans-serif;
   font-size:15px;
   color:#5c5c89;
   margin-left:100px;

}
h3{
    font-family: "Source Sans Pro", sans-serif;
  position:center;
  color:#2c2c81;
  background-color:#e9e9f8;
  font-style:italic;
  margin-left:400px;

}
table{
   
    margin-top:30px;
     text-align:center;
     height:300px;width:1000px; 
     
      border:groove;
      font-family:Source Sans Pro, sans-serif;
        
}
/*...........studentloginstyle.....*/ 
.nav2{
    margin-top:10px;
    margin-left:1230px;
}
p.marquee {
    position: absolute;
    margin-top:auto;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    border-style:dotted;
   
}
.h11
{
 margin-left:500px;
 margin-top:0px;
 padding:10px;
text-indent:10px;
font-family:  "Source Sans Pro", sans-serif ;
letter-spacing: 0px;
font-size:40px;
color:blue;

}
.button2
{
     background-color:#8fbfbf;
  width: auto;
  padding: 10px 25px;
  margin-top: 10pt;
  border-bottom-color:darkcyan;
  border-bottom:double;
  font-size:larger;
  letter-spacing:2px;
  margin-left:30px;
}


div.box {
    border:double;
align-content:center;
margin-left:200px;
margin-right:50px;
margin-top:20px;
height:200px;
width:700px;
background-color:#f0f0f7;

}

.footer{
  position: fixed;
   height: 50px;
   text-align: center;
   top: 80%;
   width: 100%;
  font-family:  "Source Sans Pro", sans-serif ;
  position: absolute;
  padding-top: 2rem;
    padding-bottom: 2rem;
   letter-spacing: 1px;
   background-color: black;
   opacity: 0.6;
   
   font-size: 16px;
   display: inline-block;
   color: white;
   


}
