.nav{
    margin-top:10px;
    margin-left:1230px;
}
p.marquee {
    position: absolute;
    margin-top:auto;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    border-style:dotted;
   
}
.h1
{
 margin-left:500px;
 margin-top:0px;
 padding:10px;
text-indent:10px;
font-family:  "Source Sans Pro", sans-serif ;
letter-spacing: 0px;
font-size:40px;
color:blue;

}
.button
{
     background-color:#8fbfbf;
  width: auto;
  padding: 10px 25px;
  margin-top: 10pt;
  border-bottom-color:darkcyan;
  border-bottom:double;
  font-size:larger;
  letter-spacing:2px;
  margin-left:30px;
}


div.box {
    border:double;
align-content:center;
margin-left:200px;
margin-right:50px;
margin-top:20px;
height:200px;
width:700px;
background-color:#f0f0f7;

}

.footer{
  position: fixed;
   height: 50px;
   text-align: center;
   top: 80%;
   width: 100%;
  font-family:  "Source Sans Pro", sans-serif ;
  position: absolute;
  padding-top: 2rem;
    padding-bottom: 2rem;
   letter-spacing: 1px;
   background-color: black;
   opacity: 0.6;
   
   font-size: 16px;
   display: inline-block;
   color: white;
   


}